<div id="header"></div>
<div class="left"></div>
<div class="stuff">
  <br><br>
  <h1>Andrew R. Funk</h1>
  <h2>(435) 535-5672 • andrew.r.funk@gmail.com •  LinkedIn.com/in/andrewfunk2 </h2>
  <hr />
  <br>
  <p class="head">EDUCATION</p>
  <ul>
    <li>Utah State University, Jon M. Huntsman School of Business	Logan, UT</li>
    <li>Bachelor of Science, Information Systems with Data Engineering Emphasis; Minor: Business Consulting	 May 2025</li>
    <li>GPA: 4.0, while working 20 hours per week</li>
    <li>Presidential Academic Scholarship recipient (full tuition and fees)</li>
    <li>Member: Consulting Association, 2022-2024</li>
  </ul>
  <p class="head">TOOLS / SKILLS </p>
  <ul>
    <li>SQL Programming, Python Programming, Excel, PowerPoint, Word, Teams, Tableau, AWS, QuickBooks</li>
  </ul>
  <p class="head">PROJECTS</p>
  <ul>
      <li>Utah State University	 Logan, UT</li>
      <li>Consulting Client Project with United Athletic Conditioning	Jan 2024 – Present</li>
      <li>Collaborated with three fellow students to provide innovative solutions for small business owner seeking to increase local gym profit by 10%</li>
      <li>Carried out scoping, contracting, data gathering, analysis, solution generation, and implementation to understand client needs, identify key questions, and draw conclusions from data leading to creative, realistic proposals</li>
      <li>AWS Cloud9 Stock Analysis	Dec 2023</li>
      <li>Wrote Python code to analyze 3 stock trading strategies for 10 stocks and predict future trends</li>
      <li>Identified the stock and strategy that generated the highest profit percentage based on historical data</li>
      <li>Robatrux Case Study	Oct 2023</li>
      <li>Analyzed data meticulously to determine whether to use sandbags or Muscle Wall product to prevent flooding</li>
      <li>Earned class high score on PowerPoint presentation and video proposal based on peer and instructor review </li>
  </ul>
  <p class="head">EXPERIENCE</p>
  <ul>
    <li>Sports Academy & Racquet Club	 North Logan, UT</li>
    <li>Tennis Instructor	 Sep 2022 – Present</li>
    <li>Generated $8,500+ in revenue from private tennis lessons while directing group classes for youth, ages 5-18</li>
    <li>Communicated effectively to organize indoor court times and maximize profit during winter months</li>
    <li>Utah State University	 Logan, UT</li>
    <li>Teaching Assistant – DATA 3100 Making Decisions with Data	 Aug – Dec 2023</li>
    <li>Led recitation sessions and graded assignments for 30 students weekly, mentoring diverse group of students while improving their understanding of course content</li>
    <li>Demonstrated subject expertise and the ability to clearly explain topics such as probability distributions, regression, confidence intervals, and hypothesis testing</li>
    <li>Wasatch Property Management	Logan, UT</li>
    <li>Accounting Intern	May – Aug 2022</li>
    <li>Provided entry-level accounting services for 5 venture companies and helped resolve discrepancies</li>
    <li>Utilized Excel and QuickBooks to create charts and update 12-month rolling forecast of financial statements</li>
  </ul>
  <p class="head">VOLUNTEER / LEADERSHIP</p>
  <ul>
    <li>The Church of Jesus Christ of Latter-day Saints 	Denver, CO</li>
    <li>Full-Time Volunteer	Oct 2019 – 2021</li>
    <li>Managed time efficiently working 70-80 hours per week, including 5-10 hours of organized service</li>
    <li>Specialized in solutions to unite volunteers and local community members during the COVID-19 pandemic </li>
    <li>Oversaw training of 150+ volunteers, created initiative that was adopted throughout western Colorado, and responded to a variety of questions and concerns regarding implementation</li>
  </ul>
  <p class="head">INTERESTS</p>
    <li>Excelled as Boys’ Varsity Tennis Team Captain for 2 years during high school</li>
    <li>Avid skier for 15 years; traveled throughout Utah and Colorado to ski at world-class resorts</li>
    <li>Developed analytical reasoning skills by solving sudoku puzzles, starting at age 5</li>
</div>
<div class="right"></div>
<div id="footer">

